@model TeacherVm
@{
    ViewData["Title"] = "Index";
}

<!-- =========Breadcrumb Start========= -->
<div class="breadcrumb">
    <div class="hdr">
        <h1>Our Instructors</h1>
    </div>
    <div class="content">
        <a href="./index.html"> Home</a>
        <span class="fa fa-arrow-circle-right"></span>
        <span class="page">Our Instructors</span>
    </div>
</div>
<!-- =========Breadcrumb End========= -->

<!-- =======Teachers Start======= -->
<section>
    <div class="teacher-containerr">
        <div class="teacher-grid">
            
            @foreach (var teacher in Model.Teachers)
            {
                <div class="col">
                <div class="left">
                    <img src="@teacher.ImagePath" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a asp-controller="Teacher" asp-action="Detail" asp-route-id="@teacher.Id">@teacher.FullName</a>
                    </h4>
                    <h5>@teacher.Position</h5>
                    <div class="social-links">
                        <a href="#"><i class="fa-brands fa-square-instagram fa-xl" style="color: #ff0084;"></i></a>
                        <a href="#"><i class="fa-brands fa-square-x-twitter fa-xl" style="color: #000000;"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube fa-xl" style="color: #ff0000;"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook fa-xl" style="color: #3b5998;"></i></a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
<!-- =======Teachers End======= -->

<!-- ======Testimonials Start===== -->
<section>
    <div class="testimonials-container">
        <div class="hdr">
            <div class="line"></div>
            <div class="txt"><h1>Testimonials</h1></div>
            <div class="line"></div>
        </div>
        <div class="swiper mySwiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                @foreach (var item in Model.Testimonials)
                {
                    <div class="swiper-slide">
                        <div>
                            <p>
                                @item.Description
                            </p>
                        </div>
                        <div>
                            <div class="img">
                                <div class="bg"></div>
                                <img src="@item.ImagePath" alt="">
                                <div class="bg"></div>
                            </div>
                            <b>@item.Name</b> <span>- @item.Position</span>
                        </div>
                    </div>
                }

            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>
<!-- ======Testimonials End======= -->

